.displayblock {
    display: block;
}

.displaynone {
    display: none;
}

.displaygrid {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(20, 5vh);
    grid-template-areas:
        "leftimage leftimage mainimage mainimage mainimage mainimage mainimage mainimage mainimage rightimage rightimage close close close"
        "leftimage leftimage mainimage mainimage mainimage mainimage mainimage mainimage mainimage rightimage rightimage close close close"
        "leftimage leftimage mainimage mainimage mainimage mainimage mainimage mainimage mainimage rightimage rightimage close close close"
        "leftimage leftimage mainimage mainimage mainimage mainimage mainimage mainimage mainimage rightimage rightimage carousel carousel carousel"
        "leftimage leftimage mainimage mainimage mainimage mainimage mainimage mainimage mainimage rightimage rightimage carousel carousel carousel"
        "leftimage leftimage mainimage mainimage mainimage mainimage mainimage mainimage mainimage rightimage rightimage info info info"
        "leftimage leftimage mainimage mainimage mainimage mainimage mainimage mainimage mainimage rightimage rightimage info info info"
        "leftimage leftimage mainimage mainimage mainimage mainimage mainimage mainimage mainimage rightimage rightimage info info info"
        "leftimage leftimage mainimage mainimage mainimage mainimage mainimage mainimage mainimage rightimage rightimage info info info"
        "leftimage leftimage mainimage mainimage mainimage mainimage mainimage mainimage mainimage rightimage rightimage info info info"
        "leftimage leftimage mainimage mainimage mainimage mainimage mainimage mainimage mainimage rightimage rightimage info info info"
        "leftimage leftimage mainimage mainimage mainimage mainimage mainimage mainimage mainimage rightimage rightimage info info info"
        "leftimage leftimage mainimage mainimage mainimage mainimage mainimage mainimage mainimage rightimage rightimage info info info"
        "leftimage leftimage mainimage mainimage mainimage mainimage mainimage mainimage mainimage rightimage rightimage info info info"
        "leftimage leftimage mainimage mainimage mainimage mainimage mainimage mainimage mainimage rightimage rightimage info info info"
        "leftimage leftimage mainimage mainimage mainimage mainimage mainimage mainimage mainimage rightimage rightimage info info info"
        "leftimage leftimage mainimage mainimage mainimage mainimage mainimage mainimage mainimage rightimage rightimage info info info"
        "leftimage leftimage mainimage mainimage mainimage mainimage mainimage mainimage mainimage rightimage rightimage info info info"
        "leftimage leftimage mainimage mainimage mainimage mainimage mainimage mainimage mainimage rightimage rightimage info info info"
        "leftimage leftimage mainimage mainimage mainimage mainimage mainimage mainimage mainimage rightimage rightimage info info info";
    color: white;
}

.leftarrow {
    grid-area: leftimage;
    margin: auto;
}

.leftarrow svg {
    align-content: center;
}

.rightarrow {
    grid-area: rightimage;
    margin: auto;
}

.arrow {
    width: 24px;
    height: 24px;
    fill: rgb(72, 72, 72);
}

.centerimage {
    margin: auto;
    width: 100%;
    grid-area: mainimage;
}

.centerimage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    opacity: 1;
    transition: linear;
}

.close {
    grid-area: close;
    margin: auto 25% auto 75%;
    height: 24px; 
    width: 24px; 
    fill: rgb(72, 72, 72);
}

.close svg {
    height: 24px;
    width: 24px;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    grid-area: carousel;
    overflow: hidden;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 1));
}

.carousel {
    grid-area: carousel;
    width: 85%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    margin: auto 5% auto 5%;
    transition: ease .2s;
}

.carouselimage {
    height: 60px;
    width: 60px;
    object-fit: cover;
    margin: 2px 4px auto 4px;
    border-radius: 4px;
}

.photodescription {
    grid-area: info;
    color: #424242;
}