.main {
    display: flex;
    justify-content: center;
}
.head {
    display: flex;
    justify-content: center;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    font-size: 24px;
    font-weight: 800;
    line-height: 1.25em;
    color: #484848;
    padding-top: 2px;
    padding-bottom: 2px;
}